APP_PORT=4000
POSTGRES_PASSWORD=change-this-postgres-password

JWT_SECRET=change-this-to-a-long-random-secret
JWT_EXPIRES_IN=8h
PUBLIC_API_URL=http://YOUR_SERVER_IP:4000
CORS_ORIGIN=http://YOUR_SERVER_IP:4000

MAX_UPLOAD_BYTES=5242880
MIN_PASSWORD_LENGTH=8
AUTH_RATE_LIMIT=20
AUTH_RATE_WINDOW_MS=900000
API_RATE_LIMIT=240
API_RATE_WINDOW_MS=60000
